.adviser-main-list{
  .adviser-main-item{
    overflow: hidden;
    position: relative;
    >img{
      border-radius: 50%;
      width:120px;
      height:120px;
      float:left;
    }
    .item-content{
      float:left;
      margin-left:30px;
      width:30%;
      .item-title{
        font-size: $fontSize-xxl;
        line-height: 50px;
      }
    }
    .btn-detail{
      float: right;
      margin-top:40px;
    }
  }
}
