.adviser-main-list {
  .adviser-main-item {
    &:not(:last-child){
      border-bottom:1px solid $borderColor;
    }
    padding:20px 0;
    overflow: hidden;
    position: relative;
    .ivu-avatar {
      border-radius: 50%;
      width: 120px;
      height: 120px;
      font-size: 80px;
      line-height: 120px;
      float: left;
    }
    .item-content {
      float: left;
      margin-left: 30px;
      width: 30%;
      line-height: 25px;
      .item-title {
        font-size: $fontSize-xxl;
        line-height: 50px;
      }
    }
    .btn-detail {
      float: right;
      margin-top: 40px;
    }
  }
}
