.problem-main{
  .problem-main-list{
    .problem-main-item{
      overflow: hidden;
      padding:20px 0;
      &:not(:last-child){
        border-bottom:1px solid $themeColor;
      }
      .problem-main-item-title{
        font-size: $fontSize-xxl;
      }
      .problem-main-item-status{

      }
      .problem-main-item-content{
        margin-top:10px;
        color:$grayL;
      }
      .problem-main-item-date{

      }
    }
  }
}
