footer.hby-footer{
  margin-top:30px;
  .hby-footer-top{
    background-color:$grayLBg;
    padding:20px 0;
    .link-map{

    }
  }

  .hby-footer-bottom{
    text-align:center;
    padding:40px 0;
    background-color:$themeColor;
    color:$white;
    a{
      color:$white;
    }
    .hby-footer-bottom-links{
      li{
        display:inline-block;
        padding:0 20px;
        &:not(:first-child){
          border-left:1px solid $white;
        }
      }
    }
  }
}
