a{
  cursor:pointer;
  color:$baseFC;
  &:-webkit-any-link{
    &:hover{
      color:$themeColor;
    }
  }
}

.btn{
  display:inline-block;
  font-size:$fontSize-m;
  cursor:pointer;
  text-align:center;
  border-radius:0;
}

.btn-normal{
  min-width:160px;
  line-height:28px;
  padding:0 20px;
}

.btn-small{
  line-height:28px;
  padding:0 20px;
}

.btn-round{
  border-radius:100%;
}

.btn-theme{
  color:$white!important;
  background-color:$themeColor;
  border:1px solid $themeColor;
  &:hover{
    color:$themeColor!important;
    background-color: $white;
    border:1px solid $themeColor;
  }
}

.ivu-btn-ghost:hover{
  border-color: $themeColor;
  color: $themeColor;
}

