.title-bar{
  line-height:80px;
  text-align:left;
  font-size:$fontSize-xxl;
  .title-detail{
    font-size:$fontSize-l;
  }
}
.page-bar{
  padding:20px 0;
  .ivu-page{
    text-align: center;
  }
}
.page{
  min-height:600px;
}
